{{ define "main" }}
  <!-- Ranges through content/post/*.md -->
<section id="{{.Title | urlize}}" class="item">
  <div class="wrap">
    <div class="content">
    </div>
  </div>
  <div class="wrap">
    <div class="content">
      {{ range $key, $value := .Site.Taxonomies.categories }}
        {{ with $.Site.GetPage (printf "/categories/%s" $key) }}
          <li><a href="{{ .Permalink }}">{{ $key }}</a>
        {{end}}
      {{ end }}
    </div>
  </div>
  <div class="wrap">
    <div class="content">
      <div class="grid-4 has-gutter">
      {{ range .Data.Pages.ByWeight }}
        {{ .Render "li"}}
      {{ end }}
      </div>
    </div>
  </div>
</section>  
{{ end }}
