@import "./KNACSS/sass/knacss.scss"; // Bootstrap reboot (basic reset) (CSS file renamed and imported as if it was a partial because of libsass)

body {
  border-left: 13px solid $pink-100;
  border-right: 13px solid $pink-100;
  min-height: 100vh;
  &::after {
    content: '';
    border-bottom: 13px solid $pink-100;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
  }
  &::before {
    content: '';
    border-top: 13px solid $pink-100;
    position: fixed;
    top: 0;
    width: 100%;
    left:0;
  }
}

section, .header, .footer {
  width: 100%;
  background: $blue-900 none;
}

.wrap {
  transition: max-width .3s, font-size .3s;
  margin: 0 auto;
  clear: both;
}

.panel, .block_image-list {
  background: white none;
  padding: $spacer-large;
  color: $background-base;
}

@media screen and ( min-width: $tiny ) {
  .wrap {
    max-width: $tiny - 1;
  }
}

@media screen and ( min-width: $small ) {
  .wrap {
    max-width: $small - 1;
  }  
}

@media screen and ( min-width: $medium ) {
  .wrap {
    max-width: $medium - 1;
    &, .content {
      padding: $spacer-large;
    }
  }
  .block_three-pictos .tabs {
    width: 50%;
  }
}

@media screen and ( min-width: $large ) {
  .wrap {
    max-width: $large - 1;
  }  
}

@media screen and ( min-width: $extra-large ) {
  .wrap {
    max-width: $extra-large - 1;
  }  
}

