@import "./KNACSS/sass/knacss.scss"; // Bootstrap reboot (basic reset) (CSS file renamed and imported as if it was a partial because of libsass)

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,900,900i|Open+Sans:400,400i,700,700i');

body > header + section {
  padding: $spacer-extra-large*2 0 $spacer-large;
}

body {
  padding: 0;
  margin:0;
  &, &::after, &::before {
    border: 0;
    transition: border .5s;
  }
}

li {
  list-style: none; 
}

.borders {

  border-left: 7px solid $pink-100;
  border-right: 7px solid $pink-100;
  
  &::before, &::after {
    content: '';
    position: fixed;
    left:0;
    right: 0;
    z-index: 10000;
  }
  &::before {
    top: 0;
    border-top: 7px solid $pink-100;
  }
  &::after {
    bottom: 0;
    border-bottom: 7px solid $pink-100;
  }
}

.wrap {
  transition: max-width .3s, font-size .3s;
  margin: 0 auto;
  clear: both;
  max-width: 100%;
}

.content {
  padding: $spacer-medium $spacer-small;
}

section {
  position: relative;
  width: 100%; 
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  height: 0;
  width: 100%;
  h1 {
    padding: 0;
    margin: 0;
  }
  .wrap {
    padding: 0 $spacer-medium;
  }
}

.footer {
  .wrap, .content {
    padding-bottom: 0!important;
    margin-bottom: 0!important;
  }
  .image {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  input {
    border: none!important;
    box-shadow: none!important;
    background: none;
    margin-right: $spacer-medium;
    font-weight: 300;
    box-shadow: 0 -1px 0 0 white inset!important;
    margin-bottom: $spacer-medium;
    padding: 0 0 $spacer-small;

    @include font-size(h6);

    &, &::placeholder {
      color: white;
      opacity: 1;
    }
  }
  .submit {
    font-weight: 600;
    @include font-size(h6);
  }
  .social {
    a {
      color: $green-300!important;
      @include font-size(h1);
    }
  }
}

/* MENU */
.nav-button {
  float: right;
  clear: both;
  display: block;
  padding-left: $spacer-large;
  i {
    background-image: linear-gradient($pink-100,$pink-100);
    &::after, &::before {
      background-color: $pink-100;  
    }
  }
}
.main {
  display: none;
  clear: both;
  &.is-opened {
    display: block;
    padding-bottom: $spacer-small;
  }
  & a {
    @include font-size(menu);
    margin-bottom: $spacer-small-plus;
    text-decoration: none;
    color: $pink-100;
    font-weight: 600;
    &::before {
      content: '|';
      padding: 0 $spacer-small-plus 0 $spacer-small;
    }
    &:first-child::before {
      content: '';
      padding: 0;
    }
  }
}
.social {
  display: block;
  padding-left: $spacer-large;
  a {
    @include font-size(h2);
    color: $color-danger;
    text-decoration: none;
    display: block;
    float: right;
    padding: $spacer-small/1.7;
    &:hover {
      color: white;
    }
    &.lang {
      color: $background-base;
      background: $color-danger none;
      @include font-size(h6);
      font-weight: 600;
      text-align: center;
      border-radius: $spacer-medium;
      margin-right: $spacer-small;
      &:hover {
        background: white none;
      }  
    }
  }
}

/* END MENU */


/* GENERAL */
h1 {
  font-weight: 900;
  text-transform: uppercase;
  padding-top: $spacer-medium;
  &.title_left-border, .block_bullet-point-hexagon & {
    border-left: 12px solid $color-brand;
    padding: 0 0 0 12px;
    margin: 0 0 $spacer-medium-plus $spacer-small-plus;
    line-height: 1;
  }
}

.panel, .block_actu {
  background: white none;
  padding: $spacer-medium;
  color: $background-base;
  a {
    color: $color-brand;
  }
  .button--danger {
    color: white;
  }
  li {
    list-style: none;
    padding-bottom: $spacer-small;
    &::before {
      content: '\25AA';
      color: $green-300;
      padding-right: $spacer-small;

    }
  }
}

/* END GENERAL */

/* HOMEPAGE */

.block_baseline {
  background: transparent url('/images/background.jpg') no-repeat center top scroll ; 
  h1 {
    @include font-size(baseline);
    padding: 0;
    margin: 0;
  }
}
.block_half-column {
  h1 {
    color: $background-base;
    border-color: $color-brand;
  }
}
.block_three-pictos {
  // padding-bottom: $spacer-extra-large;
  h2 {
    color: $color-brand;
    font-weight: 600;
  }
  .panel {
    margin-bottom: -$spacer-extra-large;
    box-shadow: .73px 1px 40px 0 rgba(black, .16);
    position: relative;
    z-index: 200;
  }
  .tabs-menu {
    text-align: center;
    padding-bottom: $spacer-large;
    border: none;
    
    .tabs-menu-link {
      padding: 0;
      margin: 0;
      border: none;
      color: white;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      position: relative;
    }
    .is-active {
      color: $green-300;
    }
  }
}

.block_image-list {
  background: #fefefe;
  padding-top: $spacer-extra-large;
  h1 {
    color: $color-brand;
    border-color: $background-base;
    width: 10%;    
  }
}

.block_slideshow {
  h1 {
    font-weight: 900;
    text-transform: uppercase;
    color: $green-300;
  }
  .slides li {
    margin-right: $spacer-large;
  }
  .panel {
    color: $background-base;
    font-weight: 100;
    font-style: italic;
    text-align: left; 
  }
  .dots  {
    position: relative;
    button:before {
      background-color: #fff;
      color: #fff;
      opacity: 1;
      border-radius: 8px;  
      width: 16px;
      height: 16px;  
    }
  }
  .slick-dots li.slick-active button::before {
    background-color: $green-300;
    color: $green-300;
    opacity: 1;
    border-radius: 8px;  
    width: 16px;
    height: 16px;  
  }
  .metas {
    text-align: left;
    padding: $spacer-medium 0 0 $spacer-large;
    text-transform: uppercase;
    font-weight: 600;
    span {
      color: $color-brand;
      
    }
  }
}
.block_actu {
  border-top: $background-base $spacer-extra-large solid;
  position: relative;
  header {
    position: relative;
  }
  h1 {
    color: $color-brand;
    position: absolute;
    top: 14rem;
    left: -4rem;
    bottom: 0;
    transform-origin: 0 50%;
    transform: rotate(-90deg) translate(-50%, 50%);
  }
  article {
    background: $green-300 none;
    color: white;
    padding: $spacer-medium;
    margin: 0 0 $spacer-large $spacer-large;
    border-radius: 0;
    box-shadow: 1px -0px 5px 0 rgba(#000, .2);
    cursor: pointer;
    .text {
      min-height: 10rem;
    }
    img {
      width: 100%;
    }
    &.active {
      display: block;
      transform: scale(1);
      z-index: 500; 
    }
    .date {
      font-weight: 600;
    }
  }
  aside {
    color: $background-base;
    a {
      color: $green-300;
    }
  }
}

/* END HOMEPAGE */

/* ABOUT PAGE */
.block_one-column {
  background: $pink-100 url('/images/background.jpg') no-repeat center top scroll ;  ;
  header {
    padding: $spacer-extra-large 0 $spacer-large;
  }
  h1 {
    color: white;
    border-color: $background-base;
  }
  h2 {
    font-weight: 600;
    color: $color-brand;
    padding-bottom: $spacer-small;
  }
}

.block_bullet-point-hexagon {
  background: $pink-100 none;
  color: $background-base;
  border-color: $background-base;
  header {
    margin-bottom: $spacer-large;
    h1 {
      border-color: $background-base;
      padding: 0 $spacer-large 0 12px;
      color: $color-brand;
      clear: both;
      margin-left: 0;
      &:first-child {
        width:100%;
        margin-bottom: 0;
      }
    }
    h2 {
      font-weight: 600;
      line-height: 1;  
      @include font-size(h4);
    }
  }
  .items-list {
    text-align: center;
    clear: both;
    padding-top: $spacer-large;
    img {
      margin-top: -10px;
    }
  }
  h3 {
    font-weight: 600;
    color: $color-brand;
    padding-bottom: $spacer-small;
  }
}

.block_team {
  padding-bottom: $spacer-extra-large;
  h1 {
    color: $color-brand;
    border-color: white;
  }
  h2 {
    font-weight: 600;
    color: $color-brand;
    padding-bottom: $spacer-small;
    &::before {
      content: "";
      border-top: 1px solid $green-300;
      display: block;
      width: 56px;
      margin: $spacer-medium auto;
    }
  }
  header p {
    padding-left: $spacer-large;
  }
  .item_list {
    a {
      color: $green-300;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
.block_two-columns {}
/* END ABOUT PAGE */

/* REFERENCES */
.projects_header {
  background: $background-base url('/images/background.jpg') no-repeat center top scroll ; 
  padding: $spacer-extra-large*2 0 $spacer-small;
  position: relative;
  .content {
    padding-bottom: $spacer-small;
  }
  h1 {
    border-color: $background-base;
    width: 10px;
  }
  ul {
    text-align: left;
    padding-top: $spacer-large;
  }
  li {
    list-style: none;
    padding-top: $spacer-small;
    text-align: center;
    &:last-child {
      a::after {
        border: none;
      }
    }
  }
  a {
    text-decoration: none;
    color: $pink-100;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}
.references {
  background: $pink-100;
  padding-top: 0;
  article {
    position: relative;
    .cats {
      @include font-size(h6);
      text-align: right;
      position: absolute;
      top: $spacer-small;
      right: $spacer-small;
      span::after {
        content: ", "
      }
      span:last-child::after {
        content: ""
      }
    }
    .illustration {
      text-align: center;
      height: 250px;
      opacity: 0.6;
    }
    a {
      text-decoration: none;
    }
    h1 {
      @include font-size(h5);
      font-weight: 600;
      text-transform: none;
      padding: 0 $spacer-medium;
      color: $pink-100;
    }
    &.light, &.light h1 {
      color: $background-base;
    }
  }
}

/* END REFERENCES */



// 576px
@media screen and ( min-width: $tiny ) {
  .wrap {
    max-width: $tiny - 1;
  }
  .block_bullet-point-hexagon {
    .items-list {
      text-align: left;
    }
  }
}

// 768px
@media screen and ( min-width: $small ) {
  .wrap {
    max-width: $small - 1;
  }
  .block_three-pictos {
    h1 {
      &::before, &::after {
        content: '---';
        letter-spacing: -5px;
        padding: 0 $spacer-medium;
        transform: scale(2);
        color: $green-300;
      }
    }
    .tabs-menu {
      .tabs-menu-link {
        &:first-child {
          padding-right: $spacer-large;
          margin-right: $spacer-large;
          &::after {
            content: '';
            display: block;
            width: 43px;
            height: 43px;
            border-radius: 22px;
            background: $color-brand;
            position: absolute;
            right: -93px;
            top:-50%;
            z-index: 50;
            transition: right .3s;
          }
        }
        &.is-active:first-child::after {
          right: -37px;
        }
        &:hover {
          text-decoration: none;
        }
        &:last-child {
          padding-left: $spacer-large;
          margin-left: $spacer-large;
          &::before {
            content: '';
            display: block;
            width: 93px;
            height: 23px;
            border-radius: 22px;
            background: white;
            position: absolute;
            left: -9rem;
            top:0;
            z-index: 20;
          }
        }
      }
    }
  }
}

// 992px
@media screen and ( min-width: $medium ) {
  body > header + section {
    padding: $spacer-extra-large 0;
  }
  .header {
    .wrap {
      padding: 0 $spacer-large;  
    }
  }

  .wrap {
    max-width: $medium - 1;
  }
  .content {
    padding: $spacer-large $spacer-medium;
  }
  .borders {
    border-left: 13px solid $pink-100;
    border-right: 13px solid $pink-100;
    &::before {
      border-top: 13px solid $pink-100;
    }
    &::after {
      border-bottom: 13px solid $pink-100;
    }
  }
  .main {
    display: inline;
  }
  .social {
    padding-top: $spacer-small;
  }
  .nav-button {
    display: none; 
  }
  .breakpoint-small {
    display: none;
  }
  .block_baseline {
    header {
      padding: $spacer-extra-large 0 $spacer-large;
    }
  }
  .block_three-pictos .tabs {
    width: 75%;
  }
  .panel {
    padding: $spacer-large;
    li {
      padding-bottom: $spacer-medium;
    }
  }
  .block_actu {
    article {
      width: 320px;
      float: right;
      margin-left: -273px;
      margin-top: -$spacer-extra-large;
      z-index: 200;
    }
  }
  .block_bullet-point-hexagon {
    h1 {
      float: left;
    }
  }
  .projects_header {
    ul {
      text-align: center;
      padding-top: $spacer-extra-large;
    }
    li {
      display: inline;
    }
    a::after {
      content: "";
      border-left: 2px solid $pink-100;
      padding-left: $spacer-small;
      margin-left: $spacer-small-plus;
    }
  }
}

// 1200px
@media screen and ( min-width: $large ) {
  .wrap {
    max-width: $large - 1;
  }
  .social {
    display: inline;
  }
  .block_three-pictos {
    .three-pictos {
      padding: 0 $spacer-extra-large;
    }
    .tabs {
      width: 65%;
    }
  }
  .block_actu {
    article {
      width: 328px;
      margin-left: -255px;
    }
  }
}

// 1400px
@media screen and ( min-width: $extra-large ) {
  .wrap {
    max-width: $extra-large - 1;
  }
  .block_three-pictos {
    .three-pictos {
      padding: 0 $spacer-extra-large*2;
    }
  }
}



/* Menu social LOGOS */
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/brands.scss";

.twitter {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-twitter);
  }
}
.github {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-github);
  }
}

/* END Menu social LOGOS */