@import "./KNACSS/sass/knacss.scss"; // Bootstrap reboot (basic reset) (CSS file renamed and imported as if it was a partial because of libsass)

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,900,900i|Open+Sans:400,400i,700,700i');

body {
  border-left: 13px solid $pink-100;
  border-right: 13px solid $pink-100;
  min-height: 100vh;
  &::after, &::before {
    content: '';
    position: fixed;
    left:0;
    z-index: 10000;
    width: 100%;
  }
  &::after {
    border-bottom: 13px solid $pink-100;
    bottom: 0;
  }
  &::before {
    border-top: 13px solid $pink-100;
    top: 0;
  }
}

section {
  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    border-left: 12px solid $background-base;
    padding: 0 0 0 12px;
    margin: 0 0 $spacer-medium-plus;
    line-height: 1;
  }
}

.noBg {
  background: none!important;
}

.wrap {
  transition: max-width .3s, font-size .3s;
  margin: 0 auto;
  clear: both;
  .content {
    padding: $spacer-large $spacer-medium;
  }
}

section, .footer {
  width: 100%;
  background: $blue-900 none;
}

.header {
  padding: 0 $spacer-medium;
  height: 0;
  .content {
    position: relative;
    &> div {
      position: absolute;
      z-index: 100;
    }
  }
}

.header, .block_baseline, .block_three-pictos {
  font-family: 'Montserrat';
}

.footer {
  .wrap, .content {
    padding-bottom: 0!important;
    margin-bottom: 0!important;
  }
  .image {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  input {
    border: none!important;
    box-shadow: none!important;
    background: none;
    margin-right: $spacer-medium;
    font-weight: 300;
    box-shadow: 0 -1px 0 0 white inset!important;
    margin-bottom: $spacer-medium;
    padding: 0 0 $spacer-small;

    @include font-size(h6);

    &, &::placeholder {
      color: white;
      opacity: 1;
    }
  }
  .submit {
    font-weight: 600;
    @include font-size(h6);
  }
  .social {
    a {
      color: $green-300!important;
      @include font-size(h1);
    }
  }
}

.panel, .block_actu {
  background: white none;
  padding: $spacer-large;
  color: $background-base;
  a {
    color: $color-brand;
  }
  .button--danger {
    color: white;
  }
  li {
    list-style: none;
    padding-bottom: $spacer-medium;
    &::before {
      content: '\25AA';
      color: $green-300;
      padding-right: $spacer-small;

    }
  }
}

.block_baseline {
  background: transparent url('/images/background.jpg') no-repeat center top scroll ;  
  .wrap {
    position: relative;
    .content {
      padding: 0;
      padding-top: $spacer-extra-large-plus;
    }
  }
  header {
    padding: $spacer-extra-large 0;
  }
  h1 {
    font-weight: 900;
    @include font-size(baseline);
    text-transform: uppercase;
    border: none;
  }
  form {
    & > * {
      background: $green-300;
      padding: $spacer-small-plus 0 $spacer-tiny;
    }
  }
  label, input {
    border: none!important;
    box-shadow: none!important;
    background: none;
    margin-right: $spacer-medium;
    font-weight: 600;
    &, &::placeholder {
      color: $background-base!important;
      opacity: 1;
      @include font-size(h6);
    }
  }
  input {
    box-shadow: 0 -1px 0 0 $pink-100 inset!important;
    padding: 0;
    font-weight: 300;
    @include font-size(h5);
  }
  .submit {
    margin-right: $spacer-medium;
    margin-top: -$spacer-tiny;
  }
}

.block_half-column {
  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: $background-base;
    font-weight: 900;
    border-left: 12px solid $color-brand;
    padding: 0 0 0 12px;
    margin: 0 0 $spacer-medium-plus $spacer-small-plus;
    line-height: 1;
  }
}

.block_one-column {
  background: $pink-100 url('/images/background.jpg') no-repeat center top scroll ;  ;
  header {
    padding: $spacer-extra-large 0 $spacer-large;
  }
  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    border-left: 12px solid $background-base;
    padding: 0 0 0 12px;
    margin: 0 0 $spacer-medium-plus;
    line-height: 1;
  }
}

.block_bullet-point-hexagon {
  background: $pink-100 none;
  color: $background-base;
  border-color: $background-base;
  header {
    margin-bottom: $spacer-large;
  }
  h1 {
    color: $color-brand;
  }
  .hexagon {
    float:left;
    position: relative;
    padding-right: $spacer-large;
    width:223px;
    &::after {
      content: "";
      position: absolute;
      top:0;
      left:0;
      width:223px;
      height: 256px;
      background: transparent url('images/hexagon-mask.png') no-repeat 0 0 scroll;
    }
  }
  .grid-6 {
    z-index: 150;
    position: relative;
    &:nth-child(even) {
      padding-left: 110px; 
      z-index: 50;
    }
  }
  img {
    max-width:223px;
    min-height: 256px;
    float: left;
    clear: both;
  }
  h2 {
    span {
      font-weight: 600;
      line-height: 1;  
      @include font-size(h4);
    }
  }
  h3 {
    font-weight: 600;
    color: $color-brand;
  }
}

.block_three-pictos {
  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 900;
  }
  h2 {
    color: $color-brand;
    font-weight: 600;
    font-size: 2.3rem;
  }
  .panel {
    margin-bottom: -150px;
    box-shadow: .73px 1px 40px 0 rgba(black, .16);
    position: relative;
    z-index: 100;
  }
  .tabs-menu {
    text-align: center;
    padding-bottom: $spacer-large;
    border: none;
    
    .tabs-menu-link {
      padding: 0;
      margin: 0;
      border: none;
      color: white;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      position: relative;
    }
  }
}

.block_image-list {
  background: #fefefe;
  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: $color-brand;
    font-weight: 900;
    border-left: 12px solid $background-base;
    padding-left: 12px;
    margin-top: $spacer-extra-large;
    width: 10%;
  }
}

.block_slideshow {
  h1 {
    font-weight: 900;
    text-transform: uppercase;
    color: $green-300;
  }
  .slides li {
    margin-right: $spacer-large;
   
  }
  .panel {
    color: $background-base;
    font-weight: 600;
    text-align: left; 
  }
  .dots  {
    position: relative;
    button:before {
      background-color: #fff;
      color: #fff;
      opacity: 1;
      border-radius: 8px;  
      width: 16px;
      height: 16px;  
    }
  }
  .slick-dots li.slick-active button::before {
    background-color: $green-300;
    color: $green-300;
    opacity: 1;
    border-radius: 8px;  
    width: 16px;
    height: 16px;  
  }
  .metas {
    text-align: left;
    padding: $spacer-medium 0 0 $spacer-large;
    text-transform: uppercase;
    font-weight: 600;
    span {
      color: $color-brand;
      
    }
  }
}

.block_actu {
  border-top: $background-base $spacer-extra-large solid;
  position: relative;
  h1 {
    font-size: 5.3rem;
    color: $color-brand;
    font-weight: 900;
    position: absolute;
    top: $spacer-extra-large;
    left: -$spacer-extra-large;
    bottom: 0;
    transform-origin: 0 50%;
    transform: rotate(-90deg) translate(-50%, 50%);
    background: yellow none;
  }
  header {
    position: relative;
  }
  .articles {
    float: right;
  }
  article {
    width: 328px;
    float: right;
    background: $green-300 none;
    color: white;
    padding: $spacer-medium-plus $spacer-medium;
    margin-left: -268px;
    margin-top: -$spacer-extra-large*2;
    border-radius: 0;
    box-shadow: 1px -0px 5px 0 rgba(#000, .2);
    z-index: 200;
    cursor: pointer;

    &.active {
      display: block;
      transform: scale(1);
      z-index: 500; 
    }
    .date {
      font-weight: 600;
    }
  }
  aside {
    color: $background-base;
    a {
      color: $green-300;
    }
  }
}

nav {
  .main a {
    text-decoration: none;
    &::before {
      content: '|';
      padding: 0 $spacer-small-plus 0 $spacer-small;
    }
    &:first-child::before {
      content: '';
      padding: 0;
    }
  }
}
.social {
  a {
    @include font-size(h2);
    color: $color-danger;
    text-decoration: none;
    &:hover {
      color: white;
    }
    &.lang {
      color: $background-base;
      background: $color-danger none;
      @include font-size(h6);
      font-weight: 600;
      text-align: center;
      padding: $spacer-small/1.7;
      border-radius: $spacer-medium;
      &:hover {
        background: white none;
      }  
    }
  }

}



@media screen and ( min-width: $tiny ) {
  .wrap {
    max-width: $tiny - 1;
  }
}

@media screen and ( min-width: $small ) {
  .wrap {
    max-width: $small - 1;
  }
  .block_actu {
    aside {
      margin-top: -$spacer-extra-large*2;  
    }
  }
  
  .block_three-pictos {
    h1 {
      &::before, &::after {
        content: '---';
        letter-spacing: -5px;
        padding: 0 $spacer-medium;
        transform: scale(2);
        color: $green-300;
      }
    }
    .tabs-menu {
      .tabs-menu-link {
        &:first-child {
          padding-right: $spacer-large;
          margin-right: $spacer-large;
          &::after {
            content: '';
            display: block;
            width: 43px;
            height: 43px;
            border-radius: 22px;
            background: $color-brand;
            position: absolute;
            right: -93px;
            top:-50%;
            z-index: 50;
            transition: right .3s;
          }
        }
        &.is-active:first-child::after {
          right: -37px;
        }
        &:hover {
          text-decoration: none;
        }
        &:last-child {
          padding-left: $spacer-large;
          margin-left: $spacer-large;
          &::before {
            content: '';
            display: block;
            width: 93px;
            height: 23px;
            border-radius: 22px;
            background: white;
            position: absolute;
            left: -9rem;
            top:0;
            z-index: 20;
          }
        }
      }
    }
  }
}

@media screen and ( min-width: $medium ) {
  .wrap {
    max-width: $medium - 1;
    .content {
      padding: $spacer-extra-large $spacer-large-plus;
    }
  }
  
  .header {
    .wrap, .content {
      padding: 0; 
    }
    .content > div {
      padding-top: $spacer-large; 
    }
  }
  .breakpoint-small {
    display: none;
  }

  .block_baseline{
    header {
      padding: $spacer-extra-large*2 0;
    }
    .wrap .content {
      padding-top: $spacer-large; 
    }
    h1 {
      font-weight: 900;
      font-size: 6.3rem;
      text-transform: uppercase;
    }
  }

  .block_three-pictos .tabs {
    width: 55%;
  }
  body > section:first-child::before {
    content: '';
    width: 100%;
    border: 20px solid yellow;
    padding-top: $spacer-large!important;  
  }
  nav a {
    @include font-size(h4);
  }
  .ml30 {
    margin-left: 30%;
  }
}

@media screen and ( min-width: $large ) {

  .wrap {
    max-width: $large - 1;
  }  
}

@media screen and ( min-width: $extra-large ) {
  .wrap {
    max-width: $extra-large - 1;
  }  
}

/* Menu social LOGOS */
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/brands.scss";

.twitter {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-twitter);
  }
}
.github {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-github);
  }
}

/* END Menu social LOGOS */