<section id="{{.Title | urlize}}" class="block_image-list">
  <div class="wrap">
    <div class="content">
      <header>
        <h1>{{.Title}}</h1>    
      </header>
      <div class="grid-{{ .Params.grid }}-small-2">
        {{ range $key, $value := .Params.images }}
          {{ range $key, $value := . }}
            <div class="center txtcenter">
              <img alt="{{ $key }}" src="{{ $value }}"/>
            </div>
          {{ end }}
        {{ end }}
      </div>
      {{ if .Params.button }}
      <div class="center txtcenter ptl">
        <a href="{{ .Params.link }}" class="button--danger">{{.Params.button}}</a>
      </div>
      {{ end }}
    </div>
  </div>
</section>