<section id="{{.Title | urlize}}" class="block_slideshow">
  <div class="wrap">
    <header>
      <div class="content center txtcenter">
        <h1>{{.Title}}</h1>    
      </div>
      <div class="content">
        <div class="grid-3 has-gutter-l cycle-slideshow" 
          data-cycle-speed=600
          data-cycle-manual-speed=100
          data-cycle-fx=carousel
          data-cycle-slides="> div"
          data-cycle-carousel-visible=2
          data-cycle-pager="#pager"
        >
        {{ range .Params.quotes }}
          <div>
            <div class="panel">
              <p>{{ .text }}</p>
            </div>
            <p>{{ .author }} - {{ .source }}</p>
          </div>
        {{ end }}
        </div>
        <div class="cycle-pager" id="pager"></div>
      </div>
    </header>
</section>