<section id="{{.Title | urlize}}" class="block_actu">
  <div class="wrap">
    <div class="content">
      <div class="grid-2-small-1 has-gutter">
        <div>
          <header>
            <h1>{{.Title}}</h1>
          </header>
          <div class="articles">
          {{ $txtButton := .Params.button }}
          {{ range .Params.actus }}
            <article>
              <img src="{{ .image }}" alt="{{ .alt }}">
              <p class="ptm pbs text">{{ .text }}</p>
              <p class="pbs date">{{ .date }}</p>
              {{ if .link }}
              <div class="center txtcenter">
                <a class="w50 button--info " href="{{ .link }}">{{ $txtButton }}</a>
              </div>
              {{ end }}
            </article>
          {{ end }}
          </div>
        </div>
        <aside class="flex-container txtcenter">
          <div class="item-center"> {{ .Content }} </div>
        </aside>
      </div>
    </div>
</section>