<article class="pts pbs pls prs projet {{ range .Params.projects }} {{ . }} {{ with $.Site.GetPage (printf "/projects/%s" .) }} {{ if .Params.light }} light {{ end }} {{ end }} {{ end }}" style="{{ range first 1 .Params.projects }} {{ with $.Site.GetPage (printf "/projects/%s" .) }} background-color: {{ .Params.color }}; {{ end }}{{ end }}">
  <p class="cats">
    {{ if .Params.light }} light {{ end }}
    {{ range .Params.projects }}
    {{ with $.Site.GetPage (printf "/projects/%s" .) }}
    <span>{{ .Name }}</span>
    {{end}}
    {{ end }}
  </p>
  <a href="{{ .Permalink }}">
    <div class="illustration flex-container">
      <img class="item-center" src="{{ .Params.image }}" alt="{{ .Title }}">
    </div>
    <h1>{{ .Title }}</h1>
  </a>
</article>