<article 
  class="ptl pbl pll prl projet {{ range .Params.projects }} {{ . }}{{ end }}" 
  style="{{ range first 1 .Params.projects }} {{ with $.Site.GetPage (printf "/projects/%s" .) }} background-color: {{ .Params.color }}; {{ end }}{{ end }}">
    <ul>
    {{ range .Params.projects }}
      {{ with $.Site.GetPage (printf "/projects/%s" .) }}
          <li>{{ .Name }}</li>
      {{end}}
    {{ end }}
    </ul>
  <a href="{{ .Permalink }}">
    <img src="{{ .Params.image }}" alt="{{ .Title }}">
    <h1 class="h4-like">{{ .Title }}</h1>
  </a>
</article> 