{{ if .Params.link }}
<article id="{{.Title | urlize}}" class="block_ressources {{ range .Params.tags }}{{ . }} {{ end }}">
  <a href="{{ .Params.link }}">
    {{ if .Params.image }}
    <div class="txtcenter">
      <img class="txtcenter" src="{{ .Params.image }}" alt="{{ .Title }}">
    </div>
    {{ end }}
    {{ if .Params.tags }}
    <ul class="tags">
      {{ range .Params.tags }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
    {{ end }}
    <h2>{{ .Title }}</h2>
    {{ .Content }}
    {{ $link := .Params.link }}
    {{ with $.Site.GetPage .Section }}
    <div class="txtcenter">
      <a href="{{ $link }}" class="button--info mtm mbm">{{ .Params.button }}</a>
    </div>
    {{ end }}  
  </article>
</a>
{{ end }}