<section id="{{.Title | urlize}}" class="block_baseline">
  <div class="wrap">
    <div class="content center">
      <header class="center txtcenter pbl">
        <h1>{{.Content}}</h1>
      </header>
      
      <aside>
        <form action="#" class="grid-12 no-gutter txtright">
          <div class="noBg col-4"></div>
          <div class="col-4"><label for="">{{.Params.callToAction}}</label></div>
          <div class="col-3"><input class="w100" type="text" placeholder="{{.Params.placeholder}}"></div>
          <div class="col-1"><a class="submit button--danger">{{.Params.button}}</a></div>
        </form>  
      </aside>
      
    </div>
  </div>
</section>