<article id="{{.Title | urlize}}" class="{{ range .Params.Tags }} {{.}}{{end}}">
  <div class="wrap">
    <div class="content">
      <header>
        {{ if .Params.image }}
        <img src="{{ .Params.image }}" alt="{{ .Title }}"/>
        {{ end }}
        {{ range .Params.Tags }}
          {{ with $.Site.GetPage (printf "/tags/%s" .) }}
            <h2>{{ .Name }}</h2>
          {{ end }}
        {{end}}
        <h1>{{.Title}}</h1>
      </header>
      <div>
      {{.Content}}
      </div>
    </div>
  </div>
</article>