<section id="{{.Title | urlize}}" class="block_three-pictos">
  <div class="wrap">
    <div class="content">
      <header>
        <div class="center txtcenter">
          <h1>{{.Title}}</h1>    
          <div class="autogrid has-gutter-xl pll prl pbl">
            {{ range .Params.pictos }}
              <div class="center txtcenter ptl pbl">
                <img src="{{ .image }}" alt="{{ .alt }}" class="pbl">
                <h2>{{ .name }}</h2>
              </div>
            {{ end }}
          </div>
        </div>
      </header>
      <div class="center tabs js-tabs">  
        <nav class="tabs-menu">
          {{ range $index, $val := .Params.tabs }}
            {{ range $key, $value := . }}
              <a href="#{{ $key | urlize }}" class="tabs-menu-link {{ if eq $index 0 }} is-active {{ end }}">
                {{ $key }}
              </a>
            {{ end }}
          {{ end }}
        </nav>
        <div class="tabs-content panel">
          {{ .Content }}
          {{ range .Params.tabs }}
            {{ range $key, $value := . }}
              <div id="{{ $key | urlize }}" class="tabs-content-item">
                <ul>
                {{ range $value }}
                  <li>{{. | markdownify }}</li>
                {{ end }}
                </ul>
              </div>
            {{ end }}
          {{ end }}
         <div style="text-align:center;"> <a href="{{.Params.linkTo}}" class="button--danger pll prl">{{.Params.button}}</a></div>
        </div>
      </div>
    </div>
  </div>
</section>