<footer class="footer">
  <div class="wrap">
    <div class="content">

      <div class="grid-2">
        <div class="grid-2 has-gutter-xl">
          <div>
            <p class="pbl">{{ .Site.Params.footerEmail }}</p>
            <p class="pbm">{{ .Site.Params.footerAdress1 }}</p>
            <p class="pbl">{{ .Site.Params.footerAdress2 }}</p>
            <img class="ptl" src="/datactivist_logo-white.svg" alt="">
          </div>
          <div>
            <form action="#">
              <input class="w100" type="text" placeholder="{{.Site.Params.footerNewsletter}}">
              <a class="submit button--danger">{{ .Site.Params.footerButton }}</a>
            </form>  
            <div class="social ptl">
            {{ range .Site.Menus.social }}
              <a href="{{ .URL }}" class="{{ .Name }} pls"></a>
            {{ end }}
            </div>
          </div>
        </div> <!-- END .grid-2 -->
        <img src="/{{ .Site.Params.footerImage }}" alt="">
      </div> <!-- END .grid-2 -->
    </div> <!-- END .content -->
  </div> <!-- END .wrap -->

  <script src="/js/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
  <script src="/js/jquery.tabs.js" integrity="sha256-hXydjvzorslGl+xg+K/0S0CeFdHK/mHLzqIXXBHouEM="></script>
  <script src="/js/jquery.lory.min.js"></script>
  <script src="/js/action.js"></script>
  <!-- <script src="/js/jquery.cycle2.min.js" integrity="sha256-h6Gn5l9s7tV9J7B8rCKDanaCYXky/J1Ddoh7CuF1SjU="></script>
  <script src="/js/jquery.cycle2.carousel.min.js" integrity="sha256-nxS9Wo1Hh0n+x5CIJ+FUPGJZnxVKXdh1+rng+sYelXU="></script>
  <script src="/js/jquery.cycle2.swipe.min.js" integrity="sha256-NFVAfNWhmPeiJ+2beW3qKAkAYUjGLr62j3MrRPPXCpA="></script> -->
</footer>