<header class="header">
  <div class="wrap">
    <div class="content">

      <h1><a href="/{{ $.Site.Language | default "en" }}">{{ .Site.Title }}</a></h1>
      <nav class="right fr">
        <div class="main fl">
        {{ range .Site.Menus.main }}
          <a href="{{ .URL }}" title="{{ .Title }}">
            {{- .Name -}}
          </a>
        {{ end }}
        </div>
        <div class="social fr">
        {{ range .Site.Menus.social }}
          <a href="{{ .URL }}" class="{{ .Name }}"></a>
        {{ end }}
        </div>
      </nav>
    </div>
  </div>
</header>