<header class="header">
  <div class="wrap">
    <div class="content">
      <div class="grid-12">
        <div class="col-2">
          <h1>
            <a href="/{{ $.Site.Language | default "en" }}">
              <img src="{{ $.Site.Params.logo }}" alt="{{ .Site.Title }}">
            </a>
          </h1>
        </div>
        <nav class="col-8 txtright pts">
          <div class="main">
          {{ range .Site.Menus.main }}
            <a href="{{ .URL }}" title="{{ .Title }}">
              {{- .Name -}}
            </a>
          {{ end }}
          </div>
        </nav>
        <div class="social txtright col-2 pts">
        {{ range .Site.Menus.social }}
          <a href="{{ .URL }}" class="{{ .Name }} pls"></a>
        {{ end }}
        </div>
      </div>
    </div>
  </div>
</header>