{{ define "main" }}
<!-- Ranges through content/post/*.md -->
<section class="ressources">
  <div class="wrap">
    <div class="content">
      <header>
        <h1 class="title_left-border">{{ .Title }}</h1>
        <nav class="tags">
          <ul>
            {{ with .Site.GetPage "/ressources" }}
            <li><a href="{{ .Permalink }}">{{ .Params.txturl }}</a></li>
            {{ end }}
            {{ range $key, $value := .Site.Taxonomies.tags }}
            {{ with $.Site.GetPage (printf "/tags/%s" $key) }}
            <li><a style="color: {{ .Params.color }}" href="{{ .Permalink }}">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
          </ul>
        </nav>
      </header>
    </div>
    <div class="content">
      <div class="macy">
        <div id="macy-container">
          {{ range .Pages.ByWeight }}
          {{ .Render "li"}}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>  
{{ end }}
