<section id="{{.Title | urlize}}" class="block_half-column" style="background: transparent url(/{{ .Params.image }}) no-repeat center 0 scroll;">
  <div class="wrap">
    <div class="content center">
      <header class="grid-12">
        <h1 class="col-4">{{.Title}}</h1>
      </header>
      <div class="grid-12">
        <div class="panel col-4">
          {{.Content}}
          <a href="{{.Params.linkTo}}" class="button--danger">{{.Params.button}}</a>
        </div>
        
      </div>
    </div>
  </div>
</section>