<section id="{{.Title | urlize}}" class="block_team">
  <div class="wrap">
    <div class="content">
      <header>
      <div class="grid-4">
        <h1 class="h_fat">{{.Title}}</h1>
      </div>
      <div class="grid-2">
        <div>
          {{ .Content }}
        </div>
      </div>
      </header>
      <div class="grid-6-small-2 has-gutter-l">
      {{ range $index, $v := .Params.items }}

        {{ if or (modBool (add $index 1) 4) (modBool (add $index 1) 9) }}
          <div class="col-1-small-0"></div>
        {{ end }}

        {{ range $key, $value := . }}
          <div class="col-2 txtcenter ptl item_list">
            {{ if .image }} <img src="{{ .image }}" alt="{{ $key }}">
            {{ else }} <img src="/images/team_default.png" alt="{{ $key }}">
            {{ end }}
            <h2>{{ $key }}</h2>
            <p>{{ .text }}</p>
            <a href="mailto:{{ .email }}">{{ .email }}</a>
          </div>
        {{ end }}
      {{ end }}
      </div>
    </div>
  </div>
</section>